backend/.env
backend/app/model/leaf_model.weights.h5
backend/app/__pycache__
venv
backend/app/model/Agri_llama
backend/app/model/best (1).pt
backend/__pycache__
backend/app/__pycache__
backend/app/services/__pycache__
.vscode